* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(39 39 42);
}

.app {
    width: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    width: calc(64px * 8);
    height: calc(64px * 8);
    display: flex;
    flex-wrap: wrap;
}

.cell {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell img {
    width: 48px;
    height: 48px;
    position: relative;
}

.black {
    background-color: rgb(99 102 241);
}

.white {
    background-color: #eed4ac;
}