* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(39 39 42);
    color: white;
    font-family: "Comfortaa", sans-serif;
}

.app {
    width: 100vh;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.board {
    width: calc(64px * 8);
    height: calc(64px * 8);
    display: flex;
    flex-wrap: wrap;
}

.cell {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 0.3s;
}

.cell img {
    width: 48px;
    height: 48px;
    position: relative;
}

.black {
    background-color: rgb(99 102 241);
}

.white {
    background-color: #eed4ac;
}

.selected {
    background-color: rgba(255, 103, 103);
}

.available {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    /*background-color: #1480C0;*/
    background-color: #44BABD;
}

.can-be-attacked {
    background-color: #44BABD;
}

.timer {
    margin-right: 50px;
}

.lost {
    height: calc(50vh - 60px);
    padding: 30px;
    margin-left: 50px;
    color: white;
    background-color: rgb(99 102 241);
}

.btn {
    background-color: rgb(99 102 241);
    color: white;
    border: none;
    border-radius: .375rem;
    padding: 15px 1.25rem;
    font-weight: 500;
    width: 170px;
    margin: 0 0 30px;
    cursor: pointer;
}